{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  "extends": ["strict", "react-app"],
  "rules": {
    "semi": 0,
    "arrow-parens": [2, "as-needed"],
    "class-methods-use-this": 0,
    "comma-dangle": [2, "only-multiline"],
    "no-confusing-arrow": 0,
    "filenames/match-regex": 0,
    "no-invalid-this": 0,
    "id-length": [2, { "exceptions": ["it"] } ], 
    "func-style": [2, "declaration",  { "allowArrowFunctions": true }],
    "babel/new-cap": 2,
    "babel/camelcase": 2,
    "babel/no-invalid-this": 2,
    "babel/object-curly-spacing": [2, "always"],
    "babel/quotes": [2, "single"],
    "babel/semi": [2, "never"],
    "babel/no-unused-expressions": 2,
    "babel/valid-typeof": 2
  }
}
